<!DOCTYPE html>
<html>
  <head>
    <title>6lack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('logo2.png') %>
    
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
